{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/logo.jpg' %}" width="75%" class="rounded-circle" alt="Profile photo of the page author">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ about.title }}</h2>
            <!-- Content goes directly underneath this -->
            <p>{{ about.content | safe }}</p>
            <!-- Button to go back to the home page -->
            <a href="{% url 'home' %}#events-section" class="btn custom-btn mb-4">Upcoming Events</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: {{ about.updated }}</em></p>
        </div>
    </div>
    <div id="contact-section" class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Don't see your event?</h2>
            <p>Please get in touch if you want to see your event posted
                on our site. We would love to hear from you!
            </p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <form method="POST">
                {% csrf_token %}
                {{ contact | crispy }}
                <button type="submit" class="btn submit-btn">Submit</button>
            
        </div>
    </div>
</div>
{% endblock content %}