{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Event title goes in these h1 tags -->
                <h3 class="event-title mb-4">{{ event.title }}</h3>
                <!-- Event author goes before the | the event's created date goes after -->
                <p class="event-subtitle">{{ event.date }} | {{ event.location }} | {{ event.time }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/home2.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The event content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ event.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}